    <!-- Javascript -->          
    <!-- <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/jquery-1.11.3.min.js"></script> -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/jquery-2.2.4.js"></script>
    <!--<script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/jquery-migrate-1.4.1.js"></script> -->
    <!-- <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/bootstrap/js/bootstrap.js"></script> -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/bootstrap-4.6.2/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/js/main.js"></script> 